<div class="col-sm-12 col-lg">
  <h4>Latest Posts</h4>
  <dl>
  {% for post in site.posts limit:3 %}
    <dt>{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} &bullet; {{ post.author }}{% endif %}{% if post.meta %} &bullet; {{ post.meta }}{% endif %}</dt>
    <dd><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></dd>
  {% endfor %}
  </dl>
</div>
<div class="col-sm-12 col-lg">
  <h4>Tour Dates</h4>
  <dl id="gigs"></dl>
  <p>Stay tuned via <a target="_blank" href="https://www.songkick.com/artists/1679689-nick-payne">Songkick</a></p>
  <p>
    <img src="{{ site.baseurl }}/images/powered-by-songkick-white.svg" style="height: 3rem;">
  </p>
</div>
<div class="col-sm-12 col-lg">
  <h4>Nick Payne</h4>
  <p>
    <a target="_blank" href="{{ site.facebook }}"><i class="fab fa-lg fa-facebook-square"></i></a>
    <a target="_blank" href="{{ site.instagram }}"><i class="fab fa-lg fa-instagram"></i></a>
    <a target="_blank" href="{{ site.spotify }}"><i class="fab fa-lg fa-spotify"></i></a>
    <a target="_blank" href="{{ site.songkick }}"><i class="songkick icon-songkick"></i></a>
    <a target="_blank" href="{{ site.youtube }}"><i class="fab fa-lg fa-youtube-square"></i></a>
  </p>
  <p>
    &copy; 2014-2018 Nick Payne
  </p>
</div>
