---
layout: page
title: Blog
heading: "The latest news and musings"
image: /images/blog.jpg
---

{% for post in paginator.posts %}
<article>
  <h2>{{ post.title }}</h2>
  <p>{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
  <p>{{ post.excerpt | strip_html }}</p>
  <p><a href="{{ site.baseurl }}{{ post.url }}">... Read more</a></p>
</article>
{% endfor %}


{% if paginator.total_pages > 1 %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
  {% if paginator.previous_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <span class="page-link">&laquo;</span>
    </li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li class="page-item disabled">
      <span class="page-link">{{ page }}</span>
    </li>
    {% elsif page == 1 %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    </li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <span class="page-link">&raquo;</span>
    </li>
  {% endif %}
  </ul>
</nav>
{% endif %}
